.btn {
    font-size: 16px!important;
    background-color: white!important;
    color: #5e2129!important;
    border-color: black!important;
    font-weight: 900!important;
    margin-left: 55px!important;
}